html
  head
    title='Key Generator'
    link(rel="stylesheet", href="/public/styles/main.css")
  body
    header 
      h1='Key Generator'
    main
      section
      input(type="text", id="key-title", name="title", placeholder="Titulo de la clave")
      h2(class="key-size-text") Tamaño de la clave
      form(id='key-generator')
        input(type="text", id="key-size", name="key-size", placeholder="Ingresa el tamaño de la clave")
      section 
        p(id="generated-key") clave generada
      section(class="key-actions")
        button(class="key-action-generate") Generar clave
        button(class="key-action-clear") Limpiar clave
        div(class="key-action-copy")
          button(class="action-copy-btn") Copiar clave
          div(id="copy-success" class="inactive") Copiado!
    script(src="/public/scripts/main.js")
