html
  head
    title='Key Generator'
    link(rel="stylesheet", href="/public/styles/main.css")
    link(rel="stylesheet", href="/public/styles/not-found.css")
  body
    main
      h1 Esta página no contiene información, revisa tu enlace.
